<!doctype html>
<html lang="<%= applang %>">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= appname %></title>
    <%- include('layout/favicon'); %>
    <%- include('layout/styles'); %>
  </head>
  <body class="bg-dark">
    <main class="d-flex align-items-center justify-content-center pt-5">
      <%- include('components/form/signin'); %>
    </main>    
    <%- include('layout/scripts'); %>
  </body>
</html>