<!doctype html>
<html lang="<%= locale %>">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= user.displayName %> | <%= appname %></title>
    <%- include('layout/styles'); %>
  </head>
  <body class="bg-dark">
    <%- include('components/navbar'); %>
    <main class="container pt-4 pb-3">
      
    </main>    
    <%- include('layout/scripts'); %>
  </body>
</html>