<!doctype html>
<html lang="<%= locale %>">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= appname %></title>
    <%- include('layout/favicon'); %>
    <%- include('layout/styles'); %>
  </head>
  <body class="bg-dark">
    <%- include('components/navbar'); %>
    <main class="container-xxl pt-3 pt-md-4 pb-3">
      <header class="d-none d-md-block bg-success bg-gradient rounded-2 mb-3">
        <section class="bg-shape-7 px-2 py-3 px-xl-3 py-xl-4">
          <%- include('components/video/filter'); %>
        </section>
      </header>
      <section id="video-list" class="row">
        <%- include('components/video/list'); %>
      </section>
    </main>
    <%- include('layout/scripts'); %>
  </body>
</html>